body {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

color-picker {
    margin: auto;
    width: 200px;
}

button {
    all: unset;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.success {
    background-color: #16b311;
    border: 1px solid #197319;
    color: white;
}

.danger {
    background-color: #b31111;
    border: 1px solid #731919;
    color: white;
}

.right {
    float: right;
}

.right:after {
    clear: both;
}

.outerField {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.removeButton {
    position: absolute;
    top: 3px;
    right: 3px;
    display: none;
    background-color: rgba(255, 255, 255, 0.8);;
    border-radius: 2px;
    padding: 2px;
    cursor: pointer;
}

.outerField:hover .removeButton {
    display: block;
}

.colorField, .colorField span {
    --size: 100px;
}

.colorField {
    width: var(--size);
    height: var(--size);
    margin: 3px;
    border-radius:5px;
    text-align: center;
}

.colorField span {
    background-color: rgba(255, 255, 255, 0.8);
    line-height: var(--size);
    border-radius: 2px;
    padding: 3px;
}